@media screen and ( max-width: 900px  )
    .table_container
        .item
            &:first-child
                display: none !important
@keyframes init
    to
        opacity: 1
        transform: translateY(0) scale(1)
.date_picker
    width: 100%
    height: 32px
    box-sizing: border-box
    border-radius: 30px
    outline: none
    margin: none
    border: 1px solid #ddd
    padding: 4px 15px
    font-weight: normal
    align-items: center
    font-size: 0.95em
    .date
        width: 100%
        height: 100%
        cursor: pointer
        position: relative
    input[type=date]
        width: 100% !important
        height: 100%
        position: absolute
        background: none
        border: none !important
        margin: 0 !important
        padding: 0 !important
        &::-webkit-datetime-edit
            display: none !important
        &::-webkit-calendar-picker-indicator
            cursor: pointer
            margin: 0
            color: transparent !important
            background: none
            padding: 0
            width: 100%
            height: 100%
    
.loader_item
    // position: absolute
    // background: #000
    width: 100%
    height: 1px
    bottom: 0
    pointer-events: none
    flex: 0 0 auto
.import
    width: 550px
    // height: 100px
    background: #FFF
    padding: 20px
    flex-direction: column
    .template
        background: #0E324C
        margin-top: 15px
        margin-bottom: 10px
        padding: 9px 15px
        font-size: 0.8em
        border-radius: 5px
        align-items: center
        i
            color: #FFF
            margin-right: 10px
            font-size: 1.1em
        a
            color: #FFF
            text-decoration: none

    .upload
        // padding: 5px 0
        margin-top: 5px
        border-radius: 30px
        // border: 1px solid #ccc
        box-shadow: inset 0px 0px 0px 1px #ddd
        box-sizing: border-box
        align-items: center
        justify-content: space-between
        height: 40px
        label
            background: #E9ECEF
            display: flex
            align-items: center
            color: #111
            border: none
            outline: none
            margin: none
            border-radius: 50px
            padding: 4px 25px 4px 22px
            height: 30px

            font-size: 0.8em
            cursor: pointer
            flex-shrink: 0
            margin-right: 10px
            &:last-child
                background: none
                color: #555
                margin-right: 0
                cursor: default
                font-size: 0.8em

        span
            font-size: 0.8em
            color: #555
        input
            display: none
    .confirm
        margin-top: 15px
        font-size: 0.9em
        button
            background: #F27314
            display: flex
            align-items: center
            color: #FFF
            border: none
            outline: none
            margin: none
            border-radius: 50px
            padding: 6px 23px 6px 20px
            font-size: 0.9em
            height: 40px
            cursor: pointer
            flex-shrink: 0
            &:disabled
                background: #999
            span
                margin-top: 1px
            i
                margin-right: 10px
                margin-top: -1px
        input
            width: 100%
            box-sizing: border-box
            border-radius: 30px
            outline: none
            margin: none
            border: 1px solid #ddd
            padding: 5px 15px
            padding-top: 5px
            box-sizing: border-box
            margin-right: 10px
            font-size: 0.9em
        
        select
            border-radius: 30px
            border: 1px solid #ddd
            padding: 5px 5px 5px 15px
            overflow: hidden
            margin-right: 10px
            font-size: 0.9em
.page
    flex-direction: column
    width: 100%
    height: 100%
    flex-shrink: 1
    overflow: hidden

    color: #0e324c
    button
        flex-shrink: 0
    input
        width: 100%
        box-sizing: border-box
        border-radius: 30px
        outline: none
        margin: none
        border: 1px solid #ddd
        padding: 4px 15px
        color: #0e324c
    
    select
        border-radius: 30px
        border: 1px solid #ddd
        padding: 4px 0 4px 15px
        overflow: hidden
        background: #FFF

    .header
        padding: 20px 20px 0 20px
        span
            font-size: 1.4em
    .console
        margin-top: 10px
        width: 100%
        padding: 7px 20px 15px 20px
        box-sizing: border-box
        justify-content: space-between
        .tools
            border-radius: 50px
            border: 1px solid #ccc
            padding: 8px 23px 8px 20px
            height: 40px
            align-items: center
            background: #FFF
            span
                margin-top: -1px
            .icon
                cursor: pointer
                width: 30px
                height: 30px
                flex-shrink: 0
                cursor: pointer
                padding: 8px
                border-radius: 50%
                align-items: center
                justify-content: center
                font-size: 0.8em
                
                &:active
                    i
                        transform: scale(0.98)
                &:hover
                    background: #eee
        form
            // width: 100%
            display: flex
            justify-content: flex-end
            flex-shrink: 0
        select,input
            margin-right: 10px
            font-size: 0.8em
        input[type=password],select
            line-height: 0.9em
            box-sizing: border-box
        button
            background: #F27314
            display: flex
            align-items: center
            color: #FFF
            border: none
            outline: none
            margin: none
            border-radius: 50px
            padding: 8px 23px 8px 20px
            font-size: 0.9em
            cursor: pointer
            flex-shrink: 0
            i
                margin-right: 10px
    .scroll_top_btn
        position: fixed
        bottom: 20px
        right: 20px
        width: 50px
        height: 50px
        border-radius: 50%
        background: #F27314
        color: #FFF
        justify-content: center
        align-items: center
        cursor: pointer
        opacity: 0
        transform: scale(.95)
        animation: init 0.3s forwards
        img
            height: 25px
    .table_container
        position: relative

        width: 100%
        height: 100%
        flex-direction: column
        justify-content: flex-start
        overflow-y: scroll
        -webkit-overflow-scrolling: touch
        border-top: 1px solid #eee
        padding-bottom: 80px

        span
            text-overflow: ellipsis
            overflow: hidden
        // border: 1px solid #eee
        // border-radius: 8px
        a
            color: #0e324c
            text-decoration: none
        

        .item
            width: 100%
            // cursor: pointer
            padding: 5px 20px
            background: #FFF
            font-size: 0.75em
            border-bottom: 1px solid #eee
            align-items: center
            opacity: 0
            transform: translateY(10px)
            animation: init 0.5s forwards
            // margin: 1px 0
            // flex-wrap: wrap

            input
                width: 100%
                // margin-left: -5px
                // margin-top: 2px
                
            &:hover
                // transform: scale(2.1)
                box-shadow: 0 0 2px 1px #5555552a
                z-index: 1
                .icon
                    visibility: visible
            &:first-child
                // background: #F8F8F8 !important
                // justify-content: flex-start
                border-bottom: 1px solid #eee
                box-shadow: 0 0 4px 1px #ddd
                position: sticky
                font-size: 0.8em
                font-weight: bold
                top: 0
                z-index: 1
                opacity: 1
                transform: none
                align-items: flex-start
                animation: none
                button
                    height: 100%
                    padding: 4px 15px
                    border: 1px solid #ddd
                    border-radius: 50px
                    background: #FFF
                    cursor: pointer
                    // &:active
                    //     transform: scale(0.99)
                input
                    font-weight: normal !important
                // .fixed
                //     justify-content: flex-start
            &:nth-child(odd)
                // background: #F5F5FA
        .btn_icon
            padding: 8px
            width: 30px
            height: 30px
            border-radius: 50%
            cursor: pointer
            &:active
                i
                    transform: scale(0.95)
            &:hover
                background: #eee
        .icon
            position: absolute
            justify-content: center
            align-items: center
            width: 30px
            height: 30px
            flex-shrink: 0
            cursor: pointer
            right: 10px
            visibility: hidden
            align-items: center
            padding: 8px
            border-radius: 50%
            &:active
                i
                    transform: scale(0.98)
            &:hover
                background: #eee
            i
                color: #767676
        .flexible
            flex: 1 1
            min-width: 120px
            justify-content: flex-start
            flex-direction: column
            white-space: nowrap
            overflow: hidden
            padding-left: 10px
            margin-right: 10px
        .fixed
            // flex: 0 1 130px
            // min-width: 150px
            margin-right: 10px
            flex-direction: column
            justify-content: center
            align-items: flex-start
            white-space: nowrap
            overflow: hidden
            &:first-child
                flex-basis: 20px
                min-width: 20px
            &:nth-child(2)
                flex-basis: 50px
                min-width: 50px
            &:nth-child(3) ,&:nth-child(4)
                width: 120px
                flex-basis: 120px
                min-width: 100px
            &:nth-child(5) //date
                min-width: 195px
            // &:nth-child(4)
                
            &:nth-child(6)
                flex-basis: 130px
                min-width: 120px
            &:nth-child(7)
                flex-basis: 200px
                min-width: 200px